@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: "Muller Narrow";
  src: url("fonts/MullerNarrow-ExtraBold.ttf");
}
@font-face {
  font-family: "Geometria";
  src: url("fonts/Geometria.ttf");
}
@font-face {
  font-family: "Geometria-Bold";
  src: url("fonts/Geometria-Bold.ttf");
}

@media(max-width:700px){
  body .screen_2 .sect2_cont .info{
    width: 95%;
  }

  body .buttonBlock .next:hover {
    border-left: 40px solid rgba(255, 255, 255, 0.480);
    transform: none;
    
  }
  body .buttonBlock .back:hover {
    border-right: 40px solid rgba(255, 255, 255, 0.480);
    transform: none;
    
  }

}

:root{
  --screenBg_1: rgb(68, 97, 158) ;
  --screenBg_2: rgb(161, 60, 60);
  --screenBg_3: rgb(79, 156, 85);
  --screenBg_4: rgb(167, 165, 71);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Geometria-Bold";
  color: rgb(100, 93, 93);
}


/* ПРЕДЛОАДЕР */

.load {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: rgb(67, 160, 160);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  animation: loadB 0.8s ease 0.1s infinite alternate-reverse;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
  
}

.load h2{
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    position: relative;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 5px rgba(233, 233, 233, 0.925);
    

}


.closeLoad,.closeH {
  z-index: 0;
  background: rgba(64, 167, 158, 0);
  opacity: 0;
}
.kv {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.342);
          box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.342);
  z-index: 101;
  background: #fff;
  -webkit-transform: translateX(0px) rotate(0deg);
          transform: translateX(0px) rotate(0deg);
  -webkit-animation: kvAfter 1s cubic-bezier(1, 1, 1, 1) 0s infinite alternate;
          animation: kvAfter 1s cubic-bezier(1, 1, 1, 1) 0s infinite alternate;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.kvClose {
  opacity: 0;
  z-index: 0;
}

@-webkit-keyframes kvAfter {
  0% {
    -webkit-transform: translate(-100px) rotate(0deg);
            transform: translate(-100px) rotate(0deg);
  }

  25% {
    -webkit-transform: translate(-50px) rotate(90deg);
            transform: translate(-50px) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(0px) rotate(180deg);
            transform: translate(0px) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(50px) rotate(270deg);
            transform: translate(50px) rotate(270deg);
  }

  100% {
    -webkit-transform: translate(100px) rotate(360deg);
            transform: translate(100px) rotate(360deg);
  }
}

@keyframes kvAfter {
  0% {
    -webkit-transform: translate(-100px) rotate(0deg);
            transform: translate(-100px) rotate(0deg);
  }

  25% {
    -webkit-transform: translate(-50px) rotate(90deg);
            transform: translate(-50px) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(0px) rotate(180deg);
            transform: translate(0px) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(50px) rotate(270deg);
            transform: translate(50px) rotate(270deg);
  }

  100% {
    -webkit-transform: translate(100px) rotate(360deg);
            transform: translate(100px) rotate(360deg);
  }
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  overflow: hidden;
}

.active {
  z-index: 1;
}

.shadow {
  z-index: 0;
}

.screen {
  top: 0;
  width: 100%;

  position: absolute;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  z-index: 2;
}

.cont {
  opacity: 0;
  z-index: 0;
  position: relative;
  z-index: 10;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: all 1s cubic-bezier(0.875, 0.885, 0.32, 1.1);
  transition: all 1s cubic-bezier(0.875, 0.885, 0.32, 1.1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

body .screen .sect_contActive {
  opacity: 1;
}

.buttonBlock{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  height: 100px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* СТИЛИЗАЦИЯ КНОПОК */
button {
  display: block;
   height: 50px;
   width: 50px;
  cursor: pointer;
  background: rgba(233, 233, 233, 0);
   border-radius: 15%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  border: 30px solid transparent;
}



button:active {
  outline: none;
}

.buttonBlock button.next {
 border-left: 40px solid rgba(255, 255, 255, 0.480); 
  -webkit-transform-origin: left; 
          transform-origin: left;
  
}

.buttonBlock button.back {
  -webkit-transform-origin: right;
          transform-origin: right;
   border-right: 40px solid rgba(255, 255, 255, 0.480);
}

.buttonBlock .next:hover {
  border-left: 40px solid rgb(255, 255, 255);
  -webkit-transform: scaleX(1.4);
          transform: scaleX(1.4);
}
.buttonBlock .back:hover {
  border-right: 40px solid rgb(255, 255, 255);
  -webkit-transform: scaleX(1.4);
          transform: scaleX(1.4);
}

.buttonBlock button.noActiveButton{
  opacity: 0;
  cursor: default
}

.bg .bgDiv {
  position: relative;
  -webkit-transform: scale(0) rotate(0deg);
          transform: scale(0) rotate(0deg);
  opacity: 0;
}
/* СТАРТОВЫЙ ЭКРАН */
.o .bgDiv {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  opacity: 1;
  border-radius: 0%;
  /*  transition-delay: 0.2s; */
}
/* КЛАСС СМЕНЫ старого ФОНА */
.bg .divKills {
  -webkit-transform: scale(0) rotate(0deg);
          transform: scale(0) rotate(0deg);
  opacity: 0;
  /* border-radius: 100%;  */
}
/* КЛАСС СМЕНЫ нового ФОНА */
.bg .divNew {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  opacity: 1;
  border-radius: 0%;

  /*  animation: divNew 1s ease-in 0s 1 normal forwards;*/
}

/* ДОБАВЛНИЕ ПЛАВНОСТИ БЛОКАМ ФОНА */
.bg .trans {
  -webkit-transition: all 1s cubic-bezier(0.775, 0.885, 0.82, 1.1);
  transition: all 1s cubic-bezier(0.775, 0.885, 0.82, 1.1);
}

.screen_1 {

}

.screen_1 .bg1 {
}

.screen_1 .bg1 div {
  background: var(--screenBg_1);
}

.screen_1 .sect1_cont {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}
.screen_1 .sect1_cont h1 {
  position: relative;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 40px;
  text-shadow: 5px 5px 2px rgba(71, 71, 71, 0.555);
}

.screen_1 .sect1_cont p {
  color: rgba(255, 255, 255, 0.507);
  text-align: center;
}

.screen_2 {
}

.screen_2 .bg2 {
}

.screen_2 .bg2 div {
  background:var(--screenBg_2);
}

.screen_2 .sect2_cont {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.screen_2 .sect2_cont h1 {
  position: relative;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 40px;
  text-shadow: 5px 5px 2px rgba(71, 71, 71, 0.555);
}

.screen_2 .sect2_cont .info{
  width: 80%;
}

.screen_2 .sect2_cont p{
  color: rgba(255, 255, 255, 0.685);
  width: 100%;
}

.screen_3 {
}

.screen_3 .bg3 {
}

.screen_3 .bg3 div {
  background: var(--screenBg_3);
}

.screen_3 .sect3_cont {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
  padding-top: 30px;
  margin: 0 auto;
  width: 95%;
}

.screen_3 .sect3_cont h1 {
  position: relative;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 40px;
  text-shadow: 5px 5px 2px rgba(71, 71, 71, 0.555);
}

.small{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.685);
  margin: 0;
  padding: 0;
}
.screen_3 .sect3_cont .works{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-top: 30px;

}
/* СТИЛИЗАЦИЯ СКОЛЛБАРА */
::-webkit-scrollbar-button { 
  background-image:url(''); 
  background-repeat:no-repeat; 
  width:3px; 
  height:0px 
  } 
  
  ::-webkit-scrollbar-track { 
  background-color:#707070; 
  -webkit-box-shadow:0px 0px 3px rgb(51, 51, 51) inset; 
          box-shadow:0px 0px 3px rgb(51, 51, 51) inset; 
  } 
  
  ::-webkit-scrollbar-thumb { 
  border-radius: 5px; 
  background-color:#f8f8f8; 
  -webkit-box-shadow:0px 1px 1px rgb(80, 80, 80) inset; 
          box-shadow:0px 1px 1px rgb(80, 80, 80) inset; 
  background-image:url('https://yraaa.ru/_pu/24/59610063.png'); 
  background-position:center; 
  background-repeat:no-repeat; 
  } 
  
  ::-webkit-resizer{ 
  background-image:url(''); 
  background-repeat:no-repeat; 
  width:7px; 
  height:0px 
  } 
  
  ::-webkit-scrollbar{ 
  width: 6px; 
  }



.screen_3 .sect3_cont .works a{
  width: 30%;
  height: 250px;
  display: block;
  overflow: auto;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  

  
}
.screen_3 .sect3_cont .works a img{
  width: 100%;
 
  
}
.screen_3 .sect3_cont .works a:hover{
  -webkit-filter: brightness(1);
          filter: brightness(1)
}

.screen_3 .sect3_cont .works .worksIncrease{
  position: absolute;
  z-index: 98;
  width: 90%;
  height: 100%;
  top:0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: brightness(1);
          filter: brightness(1)

}

.git{
  color: rgba(255, 255, 255, 0.836);
  margin-top: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.git:hover{
  color: rgb(255, 255, 255);
}

.screen_4 {


}

.screen_4 .bg4 {
}

.screen_4 .bg4 div {
  background: var(--screenBg_4);
}

.screen_4 .sect4_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 95%;
  margin: 0 auto;

}
.screen_4 .sect4_cont h1 {
  position: relative;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 60px;
  text-shadow: 5px 5px 2px rgba(71, 71, 71, 0.555);
}

.block {
  width: 100%;
  position: relative;
  z-index: 99;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: rgb(153, 153, 153);
  overflow: hidden;
}

.block div {
  background: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

.screen_4 .sect4_cont p{
  color: rgba(255, 255, 255, 0.685);
  text-align: center;
}
.screen_4 .sect4_cont .contacts{
  width: 200px;
  margin: 10px auto 0; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.screen_4 .sect4_cont a{
 
}
.screen_4 .sect4_cont a:hover i{
  color: #fff;
}

.screen_4 .sect4_cont a i{
  color: rgba(255, 255, 255, 0.685);
  font-size: 60px;
  font-weight: 100;
  -webkit-transition:all 0.4s ease;
  transition:all 0.4s ease;
  
}








